@import url("base/_reset.css");
@import url("base/_variables.css");
/* Components */
@import url("components/_buttons.css");
@import url("components/_forms.css");
@import url("components/_modals.css");
@import url("components/_sidebar.css");
@import url("components/_search.css");
/* Pages */
@import url("pages/_home.css");
@import url("pages/_profile.css");
@import url("pages/_catalog.css");
body {
            font-family: 'Lexend', sans-serif;
            transition: background-color 0.3s, color 0.3s;
            line-height: 1.5;
            overflow-x: hidden;
}
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
