html, body {
    max-width: 100%;
    overflow-x: hidden; 
}
.app-container {
    display: flex;
    height: 100vh; 
    padding: 1rem;
    gap: 1rem;
}
@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
        padding: 0;
        height: auto; 
        overflow-y: auto;   
        overflow-x: hidden; 
        width: 100%;    }
    body {
        overflow-y: auto;
        overflow-x: hidden;    
    }
}